html, body {
  margin: 0;
  padding: 0;
  background-color: $gray;
}

header {
  background-color: $dark-blue;
  padding: 20px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;

  nav {
    ul {
      li {
        border-top: none;
        display: inline;
        margin: 0;

        a {
          color: $white;
          text-decoration: none;

          &.-active {
            border-bottom: solid 2px $white;
          }
        }
      }
    }
  }
}

.-column {
  background-color: $white;
  box-sizing: border-box;
  width: 46%;
  margin: 10px 2% 10px 2%;
  padding: 10px 1% 10px 1%;
  min-height: 400px;
  float: left;

  &.-full {
    width: 96%
  }
}

@media (max-width: 750px) {
  .-column {
    width: 96%;
    min-height: auto;
  }
}
